In [1]:
import numpy as np
import pandas as pd

In [2]:
df_train = pd.read_csv("C:/Users/oekpom/Desktop/Datasets/Machine Learning/Dataset for the project - mercedes/train.csv")

In [3]:
df_train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df_train.shape

(4209, 378)

In [5]:
df_test = pd.read_csv("C:/Users/oekpom/Desktop/Datasets/Machine Learning/Dataset for the project - mercedes/test.csv")

In [6]:
df_test.shape

(4209, 377)

In [7]:
df_test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [8]:
var_list = df_train.var()

In [9]:
print(var_list)

ID      5.941936e+06
y       1.607667e+02
X10     1.313092e-02
X11     0.000000e+00
X12     6.945713e-02
X13     5.462335e-02
X14     2.448929e-01
X15     4.750593e-04
X16     2.607237e-03
X17     7.546747e-03
X18     7.780720e-03
X19     8.965997e-02
X20     1.224296e-01
X21     2.607237e-03
X22     7.941395e-02
X23     2.024755e-02
X24     1.897527e-03
X26     4.965595e-03
X27     2.167142e-01
X28     3.149733e-02
X29     4.116360e-02
X30     4.494827e-03
X31     1.784108e-01
X32     1.104448e-02
X33     2.375861e-04
X34     5.435912e-03
X35     1.784108e-01
X36     4.494827e-03
X37     1.784108e-01
X38     3.216333e-02
            ...
X355    2.357460e-01
X356    1.475408e-01
X357    1.186801e-03
X358    2.447207e-01
X359    3.083030e-02
X360    7.066685e-02
X361    3.282833e-02
X362    2.496467e-01
X363    1.855988e-01
X364    2.843581e-03
X365    2.843581e-03
X366    1.186801e-03
X367    4.912285e-02
X368    5.880257e-02
X369    4.750593e-04
X370    6.609727e-03
X371    1.405530e-02
X372    4.750593e-04
X373    1.887861e-02
X374    1.757146e-01
X375    2.172329e-01
X376    5.399258e-02
X377    2.157528e-01
X378    2.024755e-02
X379    9.415366e-03
X380    8.014579e-03
X382    7.546747e-03
X383    1.660732e-03
X384    4.750593e-04
X385    1.423823e-03
Length: 370, dtype: float64

In [10]:
var_list[var_list == 0]

X11     0.0
X93     0.0
X107    0.0
X233    0.0
X235    0.0
X268    0.0
X289    0.0
X290    0.0
X293    0.0
X297    0.0
X330    0.0
X347    0.0
dtype: float64

In [11]:
df_train = df_train.drop(["X11","X93","X107","X233","X235","X268","X289","X290","X293","X297","X330","X347"], axis=1)

In [12]:
df_test = df_test.drop(["X11","X93","X107","X233","X235","X268","X289","X290","X293","X297","X330","X347"], axis=1)

In [13]:
df_train.isnull().sum()

ID      0
y       0
X0      0
X1      0
X2      0
X3      0
X4      0
X5      0
X6      0
X8      0
X10     0
X12     0
X13     0
X14     0
X15     0
X16     0
X17     0
X18     0
X19     0
X20     0
X21     0
X22     0
X23     0
X24     0
X26     0
X27     0
X28     0
X29     0
X30     0
X31     0
       ..
X355    0
X356    0
X357    0
X358    0
X359    0
X360    0
X361    0
X362    0
X363    0
X364    0
X365    0
X366    0
X367    0
X368    0
X369    0
X370    0
X371    0
X372    0
X373    0
X374    0
X375    0
X376    0
X377    0
X378    0
X379    0
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 366, dtype: int64

In [14]:
df_train.isnull().sum()[df_train.isnull().sum()>0]

Series([], dtype: int64)

In [15]:
df_test.isnull().sum()

ID      0
X0      0
X1      0
X2      0
X3      0
X4      0
X5      0
X6      0
X8      0
X10     0
X12     0
X13     0
X14     0
X15     0
X16     0
X17     0
X18     0
X19     0
X20     0
X21     0
X22     0
X23     0
X24     0
X26     0
X27     0
X28     0
X29     0
X30     0
X31     0
X32     0
       ..
X355    0
X356    0
X357    0
X358    0
X359    0
X360    0
X361    0
X362    0
X363    0
X364    0
X365    0
X366    0
X367    0
X368    0
X369    0
X370    0
X371    0
X372    0
X373    0
X374    0
X375    0
X376    0
X377    0
X378    0
X379    0
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 365, dtype: int64

In [16]:
df_test.isnull().sum()[df_test.isnull().sum()>0]

Series([], dtype: int64)

In [17]:
uniqueValues = df_train.nunique()
print(uniqueValues)

ID      4209
y       2545
X0        47
X1        27
X2        44
X3         7
X4         4
X5        29
X6        12
X8        25
X10        2
X12        2
X13        2
X14        2
X15        2
X16        2
X17        2
X18        2
X19        2
X20        2
X21        2
X22        2
X23        2
X24        2
X26        2
X27        2
X28        2
X29        2
X30        2
X31        2
        ...
X355       2
X356       2
X357       2
X358       2
X359       2
X360       2
X361       2
X362       2
X363       2
X364       2
X365       2
X366       2
X367       2
X368       2
X369       2
X370       2
X371       2
X372       2
X373       2
X374       2
X375       2
X376       2
X377       2
X378       2
X379       2
X380       2
X382       2
X383       2
X384       2
X385       2
Length: 366, dtype: int64

In [18]:
uniqueValues = df_test.nunique()
print(uniqueValues)

ID      4209
X0        49
X1        27
X2        45
X3         7
X4         4
X5        32
X6        12
X8        25
X10        2
X12        2
X13        2
X14        2
X15        2
X16        2
X17        2
X18        2
X19        2
X20        2
X21        2
X22        2
X23        2
X24        2
X26        2
X27        2
X28        2
X29        2
X30        2
X31        2
X32        2
        ...
X355       2
X356       2
X357       2
X358       2
X359       2
X360       2
X361       2
X362       2
X363       2
X364       2
X365       2
X366       2
X367       2
X368       2
X369       1
X370       2
X371       2
X372       2
X373       2
X374       2
X375       2
X376       2
X377       2
X378       2
X379       2
X380       2
X382       2
X383       2
X384       2
X385       2
Length: 365, dtype: int64

In [19]:
df_train.dtypes[df_train.dtypes==object]

X0    object
X1    object
X2    object
X3    object
X4    object
X5    object
X6    object
X8    object
dtype: object

In [20]:
df_test.dtypes[df_test.dtypes==object]

X0    object
X1    object
X2    object
X3    object
X4    object
X5    object
X6    object
X8    object
dtype: object

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
X0 = df_train["X0"]
X1 = df_train["X1"]
X2 = df_train["X2"]
X3 = df_train["X3"]
X4 = df_train["X4"]
X5 = df_train["X5"]
X6 = df_train["X6"]
X8 = df_train["X8"]

le = LabelEncoder()
df_train["X0"] = le.fit_transform(X0)
df_train["X1"] = le.fit_transform(X1)
df_train["X2"] = le.fit_transform(X2)
df_train["X3"] = le.fit_transform(X3)
df_train["X4"] = le.fit_transform(X4)
df_train["X5"] = le.fit_transform(X5)
df_train["X6"] = le.fit_transform(X6)
df_train["X8"] = le.fit_transform(X8)

In [23]:
X0 = df_test["X0"]
X1 = df_test["X1"]
X2 = df_test["X2"]
X3 = df_test["X3"]
X4 = df_test["X4"]
X5 = df_test["X5"]
X6 = df_test["X6"]
X8 = df_test["X8"]

le2 = LabelEncoder()
df_test["X0"] = le2.fit_transform(X0)
df_test["X1"] = le2.fit_transform(X1)
df_test["X2"] = le2.fit_transform(X2)
df_test["X3"] = le2.fit_transform(X3)
df_test["X4"] = le2.fit_transform(X4)
df_test["X5"] = le2.fit_transform(X5)
df_test["X6"] = le2.fit_transform(X6)
df_test["X8"] = le2.fit_transform(X8)

In [24]:
y_train = df_train["y"]
x_train = df_train.drop("y", axis=1)

In [25]:
from sklearn.decomposition import PCA

In [26]:
sklearn_pca = PCA(n_components=0.95)

In [27]:
sklearn_pca.fit(x_train)
sklearn_pca.fit(df_test)

PCA(copy=True, iterated_power='auto', n_components=0.95, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [28]:
x_train_transformed = sklearn_pca.transform(x_train)
df_test_transformed = sklearn_pca.transform(df_test)

In [29]:
print(x_train_transformed.shape)
print(df_test_transformed.shape)

(4209, 1)
(4209, 1)

In [30]:
from sklearn.linear_model import LinearRegression

In [31]:
lm = LinearRegression()
lm.fit(x_train_transformed,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [32]:
print(lm.intercept_)
print(lm.coef_)

100.66786134149162
[0.00028665]

In [33]:
predictions = lm.predict(df_test_transformed)
print(predictions)

[101.87463906 101.87436541 101.87408265 ...  99.46339941  99.46311205
  99.46254135]

In [ ]:
from xgboost import XGBClassifier

xgb = XGBClassifier(n_estimators=30, random_state=7)
xgb.fit(x_train_transformed,y_train)
predictions = xgb.predict(df_test_transformed)
print(predictions)